{% block body %}
    <h1>Products</h1>
    
    Filters:<br>
    <a href="{{ path('products') }}">all</a><br>
    <a href="{{ path('products', {filter: 1}) }}">in stock</a><br>
    <a href="{{ path('products', {filter: 2}) }}">out of stock</a><br>
    <a href="{{ path('products', {filter: 3}) }}">greater than 5 products</a>
    <br><br>
    <a href="{{ path('products_create') }}">create</a>
    {% for product in products %}
    	<h2>#{{ product.id }} {{ product.name }}</h2>
    	<div>
    		Ilość: {{ product.amount }}
    	</div>
    	<div>
    		<a href="{{ path('products_edit', {id: product.id}) }}">edit</a>
    		<a href="{{ path('products_delete', {id: product.id, token: csrf_token('delete-item')}) }}">delete</a>
    	</div>
    {% endfor %}
{% endblock %}