{% block body %}

	{% if error %}
	<div>
		<strong>Error API:</strong><br />
		{{ error }}
	</div>
	{% endif %}
	
	{% if type == 'edit' %}
    	<h1>Edit product</h1>
    {% else %}
    	<h1>Create new product</h1>
    {% endif %}
    
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.amount) }}
        {{ form_row(form.save, {label: type == 'edit' ? 'Save' : 'Create'}) }}
    {{ form_end(form) }}
{% endblock %}